#mapDivId {
  position: fixed;
  top: 0;
  left: 22vw;
  bottom: 0;
  right: 0;
  }
  html, body{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Georgia, 'Times New Roman', Times, serif;
  }
  #info{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 19vw;
    padding: 1em;
  }
  .leaflet-bottom.leaflet-left{
    width: 100%;
  }
  .leaflet-control-container .leaflet-timeline-controls{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }
